VITE_APP_API_BASE_URL=/api
VITE_APP_DEPLOY_BASE_URL=http://localhost:8080
VITE_APP_PREVIEW_BASE_URL=/api/static
VITE_APP_MONITOR_GRAFANA_URL=http://49.235.165.209:3000
VITE_APP_MONITOR_PROMETHEUS_URL=http://49.235.165.209:9090
VITE_APP_MONITOR_ARMS_URL=https://arms.console.aliyun.com
